# Nigel's list
*.dll
*.exe
*.pdb
*.pdf
*.graphml
*.csv
*.java
*.jar
*.mdb
*.cache
*.user
*.userprefs
*.class
*.xml
*.gif
*.vspscc
Temporary*
Bio.csproj.FilesWrittenAbsolute.txt
*AssemblyAttribute.cs
*FilesWrittenAbsolute.txt
*/obj/*
*/bin/*
src/ConsensusCore/Debug/*
*/Debug/*

# Git's list
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
