# Nigel's list
BuildAndRun.py
*.ccs.fasta
tempLambdaVariant/
NotTracked/
*.dll
*.exe
*.pdb
*.pdf
*.graphml
*.csv
*.java
*.jar
*.mdb
*.cache
*.user
*.userprefs
*.class
*.xml
*.gif
*.plist
*.vspscc
Temporary*
Bio.csproj.FilesWrittenAbsolute.txt
*AssemblyAttribute.cs
*FilesWrittenAbsolute.txt
*/bin/Release/*
*/obj/*
*/bin/*
src/ConsensusCore/Debug/*
*/Debug/*

# Git's list
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

data/.RData

data/.Rhistory

data/Inconsistent.png

doc/CCS_Recursions.aux

doc/CCS_Recursions.faq

doc/CCS_Recursions.log

doc/CCS_Recursions.synctex.gz

doc/OneOnOnePresentation.pptx

doc/Supp_Note1_130423.aux

doc/Supp_Note1_130423.log

src/tmp/Program.cs

src/tmp/tmp.csproj

src/tmp/Properties/AssemblyInfo.cs

src/bio/obj/Debug/Bio.SimilarityMatrices.Resources.SimilarityMatrixResources.resources

src/bio/obj/Release/Bio.Properties.Resource.resources

data/tmp.fasta

src/bio/obj/Release/Bio.Properties.Resource.resources

src/packages/NUnit.2.6.3/NUnit.2.6.3.nupkg

src/packages/NUnit.2.6.3/license.txt
