<!--
    Provide linux mappings for Edna
-->
<configuration>
    <!-- not sure why this is needed...but it is -->
    <dllmap dll="libc" target="libc.so.6" os="!windows"/>
    <dllmap dll="libc.so" target="libc.so.6" os="!windows"/>
    <dllmap dll="msvcrt.dll" target="libc.so.6" os="!windows"/>
    <dllmap dll="levmar-2.3.dll" target="liblevmar-2.3.so" os="!windows"/>
    <dllmap dll="sqlite3" target="libsqlite3.so.0" os="!windows"/>
</configuration>
